$primary-color: #5cd490;
$primary-background: #2d2f33;
$secondary-background: #25272b;

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $primary-background;
}
.headerContainer {
    position: fixed;
    top: 0;
    padding: 1rem;
}
.footerContainer {
    padding: 1rem;
}